<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Contoso Crafts</title>
    <!--Include Bootstrap-->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <!--Include site.css-->
    <link rel="stylesheet" href="~/css/site.css" />
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Yellowtail&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <!--Navigation Bar-->
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-navbar border-bottom box-shadow mb-3">
            <div class="container">
                <!--Navbar Toggle Buttons-->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-flex justify-content-between">
                    <ul class="flex-grow-1 navbar-nav">
                        <li>
                            <!--Logo-->
                            <a asp-page="/Index"><img class="navImgLogo" id="navImage" src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/b9ccce181739065.6520fe8600888.png"></a>
                        </li>
                        <li class="nav-item navbar-nav-padding">
                            <!--Privacy Link-->
                            <a class="nav-link text-white" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                        <li class="nav-item navbar-nav-padding">
                            <!--Product Link-->
                            <!-- removed ./ which was stopping inner pages to product page -->
                            <a class="nav-link text-white" asp-area="" asp-page="/Product/Index">Products</a>
                        </li>
                        <li class="nav-item navbar-nav-padding">
                            <!--About Us Link-->
                            <a class="nav-link text-white" asp-area="" asp-page="/AboutUs">About Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    
    <div class="container">
        <main role="main" class="pb-3">
            <!-- Render the main content here -->
            @RenderBody()
        </main>
    </div>

    <!--  footer -->

    <footer class="border-top footer text-muted bg-footer">
        <div class="container p-4 pb-0">
            <!-- Section: Links -->
            <section class="">
                <!--Grid row-->
                <div class="row">
                    <!-- Grid column -->
                    <div class="col-6 col-sm-6 col-md-3 mx-auto mt-3">
                        <a asp-page="/Index"><img class="navImgLogo" id="navImage" src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/b9ccce181739065.6520fe8600888.png"></a>
                    </div>
                    <!-- Grid column -->

                    <hr class="w-100 clearfix d-md-none" />



                    <hr class="w-100 clearfix d-md-none" />

                    <!-- Grid column -->
                    <hr class="w-100 clearfix d-md-none" />

                    <!-- Grid column -->
                    <!--    contact infomation        -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3" style="color:#fff;">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Contact US</h6>
                        <p><i class="fas fa-envelope mr-3"></i> TeamSuperHeroes@gmail.com</p>
                        <p><i class="fas fa-phone mr-3"></i> +1 234 567 8890</p>
                    </div>
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3" style="color:#fff;">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Follow us</h6>

                        <!--Instagram-->
                        <a href="#!" role="button" style="margin-right: 10px;">
                            <i class="fab fa-instagram fa-2x" style="color: #fff;"></i>
                        </a>

                        <!--Facebook-->
                        <a href="#!" role="button" style="margin-right: 10px" ;>
                            <i class="fab fa-facebook-f fa-2x" style="color: #fff;"></i>
                        </a>

                        <!--Twitter-->
                        <a href="#!" role="button" style="margin-right: 10px;">
                            <i class="fab fa-twitter fa-2x" style="color: #fff;"></i>
                        </a>

                    </div>
                </div>
                <!--Grid row-->
            </section>
            <!-- Section: Links -->
            <!-- Grid container -->


            <br />
            <br />

            <hr size="3" style="margin:auto;" width="70%" color="white">
            <div class="text-center p-3">

                <p class="text-white" href="https://mdbootstrap.com/">  © 2023 Copyright: SuperHeroes | All rights reserved. </p>
            </div>
        </div>

        <!-- End of .container -->

    </footer>

    

    <!-- Include jQuery and Bootstrap JavaScript -->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <!-- Include custom site JavaScript -->
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)

    <script src="https://kit.fontawesome.com/bffb865160.js" crossorigin="anonymous"></script>
</body>
</html>