/*Style for checked items*/
.checked {
    color: orange;
}

/*Style for clickable star icons*/
.fa-star {
    cursor: pointer;
}

/*Background and styling for the body*/
body {
    background-image: url(https://www.photomural.com/media/catalog/product/cache/2/thumbnail/9df78eab33525d08d6e5fb8d27136e95/I/A/IADX10-065.jpg); /*background image for home page*/
    background-size: cover;
    enable-background: accumulate;
    background-position-x: center;
    
}



/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*Styling for card images on hover*/
.card-columns .card:hover .card-img {
    opacity: 1;
    -webkit-transform-style: preserve-3d;
}

/*styling for card body*/
.card-columns .card-body {
    height: 45px;/*changed the height of the cards*/
    font-family: 'Nunito', sans-serif;
    background: #fbfafd;
}

/*Styling for card images*/
.card-columns .card-img {
    height: 310px;
    vertical-align: bottom;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    #opacity: .8;
}

.modal .card-img {
    height: 500px;
    vertical-align: bottom;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

/*Styling for card on hover*/
.card-columns .card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(37,33,82,.12), 0 4px 8px rgba(37,33,82,.06);
}

.card-footer {
    background: #fbfafd;
}

/*Style for navbar*/
a.navbar-brand {
    white-space: normal;
    font-family: 'Yellowtail', cursive;
    font-size: xx-large;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #edea32;
    margin: 5px 5px 5px 5px;/*Adjusted the position of Delete button in index page*/
}

/*Styling for Update button*/
.btn-update {
    background-color: red;
    color: white;
    border-color: red;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px
}

/*Styling for primary button*/
.btn-primary {
    color: #fff;
    background-color: #252152;
    border-color: #252152;
}

    .btn-primary:hover {
        color: #fff;
        background-color: #e9a8a6;
        border-color: #e9a8a6;
    }

.btn-customised {
    color: #fff;
    background-color: #f01628;
    border-color: #f0e816;
}
    .btn-customised:hover {
        color: #fff;
        background-color: #7ebdf7;
        border-color: #7ebdf7;
    }

/*Styling for navar items*/
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

/*Styling for button shadow*/
.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

/*Styling for accept button policy*/
button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

p {
    font-family: 'Nunito', sans-serif;
}

h1 {
    font-family: 'Nunito', sans-serif;
}

ul {
    font-family: 'Nunito', sans-serif;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 40px; /* Vertically center the text there */
    font-family: 'Nunito', sans-serif;
}
/*Backgrounds*/
.bg-navbar {
    background: radial-gradient(circle at 10.6% 22.1%, rgb(206, 18, 18) 0%, rgb(122, 21, 21) 100.7%);
}

.bg-footer {
    background: radial-gradient(circle at 10.6% 22.1%, rgb(206, 18, 18) 0%, rgb(122, 21, 21) 100.7%);
}
.whitebox { /*adding the dimensions for whitebox*/
    width: 1150px;/*setting the width of the box*/
    height: 100%;/*setting the height of box*/
    position: relative;/*making the position relative*/
    display: block;/*displaying the type of box*/
    left: 0%;/*setting the position from left side*/
    background: rgba(255,255,255,.9);/*color for the box*/
    box-shadow: 0 15px 20px rgba(0,0,0,.8);/*giving shadow to the box*/
    text-align: center;/*aligning the text to the centre*/
    border-radius: 10px;/*setting the border radius for box*/
}
/*Styling for Create.cshtml page*/
.whiteboxcrudi {
    padding: 20px;
    background-color: white;
    border: 2px solid black;
}

.control-label {
    border-left: medium;
}
.container {
    margin-top: 20px;
}

/* Style for the Create button */
.create-button {
    background-color: red;
    font-size: 20px;
    color: white;
}

/*Style for Update Button on Read Page*/
.btn-customised {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.box-shadow {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.limited-stock {
    color: red;
}

/*Style for Index Page*/
.table-bordered {
    border-radius: 20px;
    opacity: 0.9;
}

th, td {
    color: black; 
}

a {
    color: blue; 
}

/* Style for product titles in the Index pages table */
.product-title {
    text-decoration-color: initial;
}

/* Style for the "Read" and "Delete" links on Index page*/
.read-delete-links {
    font-size: 20px;
}


.whiteboxcrudi { /*adding the dimensions for whiteboxcrudi*/
    width: auto; /*setting the width of the box*/
    height: auto;/*setting the height of the box*/
    position: relative; /*making the position relative*/
    display: block; /*displaying the type of box*/
    left: 0%; /*setting the position from left side*/
    background: rgba(255,255,255,.9); /*color for the box*/
    box-shadow: 0 15px 20px rgba(0,0,0,.8); /*giving shadow to the box*/
    border-radius: 10px; /*setting the border radius for box*/
}
.box { /*adding the dimensions for box*/
    max-width: 800px; /*setting the width of the box*/
    position: relative; /*making the position relative*/
    display: inline-block; /*displaying the type of box*/
    left: 15%; /*setting the position from left side*/
    background: rgb(255 0 0); /*color for the box*/
    box-shadow: 0 15px 20px rgba(0,0,0,.8); /*giving shadow to the box*/
    text-align: center; /*aligning the text to the centre*/
    border-radius: 20px; /*setting the border radius for box*/
    opacity: 0.9;
}
.privacy-box {
    /*adding the dimensions for box*/
    max-width: 800px; /*setting the width of the box*/
    position: relative; /*making the position relative*/
    display: inline-block; /*displaying the type of box*/
    left: 25%; /*setting the position from left side*/
    background: rgb(255 0 0); /*color for the box*/
    box-shadow: 0 15px 20px rgba(0,0,0,.8); /*giving shadow to the box*/
    text-align: center; /*aligning the text to the centre*/
    border-radius: 20px; /*setting the border radius for box*/
}
.navImgLogo{
    /*adding the dimensions for logo*/
    width: 130px;
}
.textcolor{
    font-size: 25px;/*setting the font size*/
    color: rgba(255,255,255,.9);/*changing color of text*/
}
.color {
    font-size: 40px; /*setting the font size*/
    color: rgba(255,255,255,.9); /*changing color of text*/
}
/*styling for cancel button on delete page*/
.form-group {
    color:blue;
}

/*Styling for Read and delete button*/
.btn btn-light btn-customised {
    color: #fff;
}