/*Style for checked items*/
.checked {
    color: orange;
}

/*Style for clickable star icons*/
.fa-star {
    cursor: pointer;
}

/* Style for clickable smiley face icons */
.fa-smile {
    cursor: pointer;
}

/* Style for clickable neutral face icons */
.fa-neutral {
    cursor: pointer;
}

/* Place holder CSS class */
input[type="text"]::placeholder {
    text-align: left;
}

/* Style for Text Input Field */
#textboxid {
    height: 100px;
    width: 380px;
    font-size: 14pt;
}

#red-text{
    color:#AA0000;
}

/*Background and styling for the body*/
body {
    background-image: url(https://www.photomural.com/media/catalog/product/cache/2/thumbnail/9df78eab33525d08d6e5fb8d27136e95/I/A/IADX10-065.jpg); /*background image for home page*/
    background-size: cover;
    enable-background: accumulate;
    background-position-x: center;
    
}

/* Custom Button CSS class1 for CRUDI buttons */
.link-button {
    background-color: #4CAF50; /* Green */
    border-radius:5px;
    border: none;
    color: white;
    padding: 6px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/* Custom Button CSS class2 for CRUDI buttons */
.link-button2 {
    background-color: #FF0000; /* Red */
    border-radius: 5px;
    border: none;
    color: white;
    padding: 6px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*Styling for card images on hover*/
.card-columns .card:hover .card-img {
    opacity: 1;
    -webkit-transform-style: preserve-3d;
}

/*styling for card body*/
.card-columns .card-body {
    height: 45px;/*changed the height of the cards*/
    font-family: 'Nunito', sans-serif;
    background: #fbfafd;
}

/*Styling for card images*/
.card-columns .card-img {
    height: 310px;
    vertical-align: bottom;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.modal .card-img {
    height: 500px;
    vertical-align: bottom;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

/*Styling for card on hover*/
.card-columns .card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(37,33,82,.12), 0 4px 8px rgba(37,33,82,.06);
}

/* Card footer class */
.card-footer {
    background: #fbfafd;
}

/*Style for navbar*/
a.navbar-brand {
    white-space: normal;
    font-family: 'Yellowtail', cursive;
    font-size: xx-large;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #edea32;
    margin: 5px 5px 5px 5px;/*Adjusted the position of Delete button in index page*/
}

/*Styling for Update button*/
.btn-update {
    background-color: red;
    color: white;
    border-color: red;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px
}

/*Styling for primary button*/
.btn-primary {
    color: #fff;
    background-color: #252152;
    border-color: #252152;
}

    .btn-primary:hover {
        color: #fff;
        background-color: #e9a8a6;
        border-color: #e9a8a6;
    }

/* Customised Button CSS class*/
.btn-customised {
    color: #fff;
    background-color: #f01628;
    border-color: #f0e816;
}
    .btn-customised:hover {
        color: #fff;
        background-color: #7ebdf7;
        border-color: #7ebdf7;
    }

/*Styling for navar items*/
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

/*Styling for button shadow*/
.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

/*Styling for accept button policy*/
button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

p {
    font-family: 'Nunito', sans-serif;
}

h1 {
    font-family: 'Nunito', sans-serif;
}

ul {
    font-family: 'Nunito', sans-serif;
}

.footer {
    position: absolute;
    height: 400px;
    width: 100%;
    white-space: nowrap;
    line-height: 40px; /* Vertically center the text there */
    font-family: 'Nunito', sans-serif;
}
/*Backgrounds*/
.bg-navbar {
    background: radial-gradient(circle at 10.6% 22.1%, rgb(206, 18, 18) 0%, rgb(122, 21, 21) 100.7%);
}

.bg-footer {
    background: radial-gradient(circle at 10.6% 22.1%, rgb(206, 18, 18) 0%, rgb(122, 21, 21) 100.7%);
}
/*styling for background box on Delete page*/
.whitebox { /*adding the dimensions for whitebox*/
    width: auto; /*setting the width of the box*/
    height: auto; /*setting the height of the box*/
    position: relative; /*making the position relative*/
    display: block; /*displaying the type of box*/
    left: 0%; /*setting the position from left side*/
    background: rgba(255,255,255,.9); /*color for the box*/
    box-shadow: 0 15px 20px rgba(0,0,0,.8); /*giving shadow to the box*/
    border-radius: 10px; /*setting the border radius for box*/
    padding: 20px;
    background-color: white;
    border: 2px solid black;
}
/*Styling for Create.cshtml page*/
.whiteboxcrudi {
    padding: 20px;
    background-color: white;
    border: 2px solid black;
}

.control-label {
    border-left: medium;
}
.container {
    margin-top: 20px;
}

/* Style for the Create button */
.create-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

/*Styling for hover over add to cart button*/
    .addtocart:hover {
        background-color: orangered;
    }

/*Style for Update Button on Read Page*/
.btn-customised {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.box-shadow {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.limited-stock {
    color: red;
}

/*Style for Index Page*/
.table-bordered {
    border-radius: 20px;
    opacity: 0.9;
}

th, td {
    color: black; 
}

a {
    color: blue; 
}

/* Style for product titles in the Index pages table */
.product-title {
    text-decoration-color: initial;
}

/* Style for the "Read" and "Delete" links on Index page*/
.read-delete-links {
    font-size: 20px;
}


.whiteboxcrudi { /*adding the dimensions for whiteboxcrudi*/
    width: auto; /*setting the width of the box*/
    height: auto;/*setting the height of the box*/
    position: relative; /*making the position relative*/
    display: block; /*displaying the type of box*/
    left: 0%; /*setting the position from left side*/
    background: rgba(255,255,255,.9); /*color for the box*/
    box-shadow: 0 15px 20px rgba(0,0,0,.8); /*giving shadow to the box*/
    border-radius: 10px; /*setting the border radius for box*/
}
.box { /*adding the dimensions for box*/
    max-width: 800px; /*setting the width of the box*/
    position: relative; /*making the position relative*/
    display: inline-block; /*displaying the type of box*/
    left: 15%; /*setting the position from left side*/
    background: #e5e5e5; /*color for the box*/
    box-shadow: 0 15px 20px rgba(0,0,0,.8); /*giving shadow to the box*/
    text-align: center; /*aligning the text to the centre*/
    border-radius: 20px; /*setting the border radius for box*/
    opacity: 0.9;
}
.privacy-box {
    /*adding the dimensions for box*/
    max-width: 800px; /*setting the width of the box*/
    position: relative; /*making the position relative*/
    display: inline-block; /*displaying the type of box*/
    left: 15%; /*setting the position from left side*/
    background: #e5e5e5; /*color for the box*/
    box-shadow: 0 15px 20px rgba(0,0,0,.8); /*giving shadow to the box*/
    text-align: center; /*aligning the text to the centre*/
    border-radius: 20px; /*setting the border radius for box*/
    opacity: 0.9;
}
.navImgLogo{
    /*adding the dimensions for logo*/
    width: 130px;
}
.textcolor{
    font-size: 25px;/*setting the font size*/
    color: rgba(0,0,0,.8);/*changing color of text*/
}
.color {
    font-size: 40px; /*setting the font size*/
    color: rgba(0,0,0,.8); /*changing color of text*/
}
/*styling for cancel button on delete page*/
.form-group {
    color:blue;
}

/*Styling for Read and delete button*/
.btn btn-light btn-customised {
    color: #fff;
}
.text-black{
    color: rgba(0,0,0,.8);
}

/*Styling for cart icon on nav bar*/
.cart-image {
    max-width: 60px; 
    height: 60px; 
}

/*Styling for Read page background box*/
.Read-box {
    width: 1150px; /*setting the width of the box*/
    height: 100%; /*setting the height of box*/
    position: relative; /*making the position relative*/
    display: block; /*displaying the type of box*/
    left: 0%; /*setting the position from left side*/
    background: rgba(255,255,255,.9); /*color for the box*/
    box-shadow: 0 15px 20px rgba(0,0,0,.8); /*giving shadow to the box*/
    text-align: center; /*aligning the text to the centre*/
    border-radius: 10px; /*setting the border radius for box*/
}
/*Styling for search bar*/
.Search{
    display: block;
    align-items: center;
    margin-right: 0;
    margin-left: 75px;
}
.Search form{
    display: flex;
    margin: 0;
}
.Search input{
    padding: 4px;
    border: 1px solid rgba(0,0,0,.8);
    outline: none;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
}
.Search button{
    color: rgba(255,255,255,.9);
    background-color: #4CAF50;
    border-radius: 7px;
}
/*Animations for card*/
/.card-footer {
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

    .card-footer:before {
        content: '';
        background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
        position: absolute;
        top: -2px;
        left: -2px;
        background-size: 400%;
        z-index: -1;
        filter: blur(5px);
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        animation: glowing 20s linear infinite;
        opacity: 0;
        transition: opacity .3s ease-in-out;
        border-radius: 10px;
    }

    .card-footer:active {
        color: #000
    }

        .text-muted:active:after {
            background: transparent;
        }

    .card-footer:hover:before {
        opacity: 1;
    }

    .card-footer:after {
        z-index: -1;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: #111;
        left: 0;
        top: 0;
        border-radius: 10px;
    }

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

body, html {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}


/*Styling for Launch page*/
.banner {
    text-align: center;
    color: #fff;
}

    .banner .overlay {
        width: 100%;
        height: 100%;
    }

.intro-text {
    position: relative;
    padding: 20% 0 15% 0;
}

.banner .intro-text h1 {
    line-height: 50px;
    letter-spacing: 5px;
    margin-bottom: 55px;
    -webkit-animation: bounceIn;
    -moz-animation: rubberBand;
    -o-animation: bounceIn;
    animation: bounceIn;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
}

    .banner .intro-text h1 span {
        color: #ff432e;
    }

.banner .intro-text p {
    color: #fff;
    line-height: 35px;
    letter-spacing: 3px;
    margin-bottom: 55px;
    -webkit-animation: bounceInLeft;
    -moz-animation: fadeInLeft;
    -o-animation: fadeInLeft;
    animation: bounceLeft;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
}

/*Styling for button*/
.banner .intro-text .btn-primary {
    border-color: #fff;
    background-color: red;
    color: #fff;
    border-radius: 0;
    width: 130px;
}

.banner .btn-primary:hover {
    background: orange;
    border-color: #fff;
    color: #111;
}

/*Styling for video file*/
#herovid {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    z-index: -1;
    transform: translateY(0);
}
/*dynamic-background*/

#dynamic-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); /* Black background with 0.5 opacity */
    z-index: -1; /* Sit on top */
}