@page "{id}"
@using ContosoCrafts.WebSite.Services
@using ContosoCrafts.WebSite.Models
@inject JsonFileProductService ProductService
@model ContosoCrafts.WebSite.Pages.Product.CreateModel

@{
    ViewData["Title"] = "Create Page";
}

<!-- Heading -->
<h1>Create a New Product</h1> 

<head>
    <!-- Header -->
    <link rel="stylesheet" type="text/css" href="site.css"> <!-- Referencing styling done in site.css page -->
</head>

<body>
    <div>
        <!-- HTML Form -->
        <form method="post" enctype="multipart/form-data" class="whiteboxcrudi">
            
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(x => x.Product.Id) <!-- Hidden input for Product ID -->

            <!-- Product Title -->
            <div class="form-group">
                <label class="control-label" asp-for="Product.Title"></label>
                <input asp-for="Product.Title" class="form-control" required placeholder="Enter Title">
                <span class="text-danger" asp-validation-for="Product.Title"></span>
            </div>

            <!-- Product Description -->
            <div class="form-group">
                <label class="control-label" asp-for="Product.Description"></label>
                <input asp-for="Product.Description" class="form-control" required placeholder="Enter Description">
                <span class="text-danger" asp-validation-for="Product.Description"></span>
            </div>

            <!-- Product URL -->
            <div class="form-group">
                <label class="control-label" asp-for="Product.Url"></label>
                <input asp-for="Product.Url" class="form-control" required placeholder="Enter Url">
                <span class="text-danger" asp-validation-for="Product.Url"></span>
            </div>

            <!-- Product Image -->
            <div class="form-group">
                <label class="control-label" asp-for="Product.Image"></label>
                <input asp-for="Product.Image" class="form-control" required placeholder="Enter Image Link">
                <span class="text-danger" asp-validation-for="Product.Image"></span>
            </div>

            <!-- Product Price -->
            <div class="form-group">
                <label class="control-label" asp-for="Product.Price"></label>
                <input asp-for="Product.Price" class="form-control" required placeholder="Enter Price">
                <span class="text-danger" asp-validation-for="Product.Price"></span>
            </div>

            <!-- Product Stock -->
            <div class="form-group">
                <label class="control-label" asp-for="Product.Stock"></label>
                <input asp-for="Product.Stock" class="form-control" required placeholder="Enter Stock">
                <span class="text-danger" asp-validation-for="Product.Stock"></span>
            </div>

            <!-- Select Category of Product-->
            <div class="form-group">
                <label asp-for="Product.ProductType" class="text-label"></label>
                <select class="form-control"
                        asp-for="Product.ProductType"
                        asp-items="Html.GetEnumSelectList<ProductTypeEnum>()">
                    <option selected="selected" value="">Please Select</option>
                </select>
                <span asp-validation-for="Product.ProductType" class="text-danger"></span>
            </div>

            <div class="row">

                <!-- Save Button -->
                <div class="form-group">
                    <input style="margin-left:15px" type="submit" value="Save" class="btn btn-success" />
                </div>

                &nbsp; &nbsp;

                <!-- Cancel Button -->
                <div>
                    <!-- Back to Product List button -->
                    <a asp-page="Index" class="link-button2">Cancel</a>
                </div>

            </div>

            <!-- Request Verification Token -->
            <input name="__RequestVerificationToken" type="hidden" value="">

        </form>
    </div>
</body>