@page "{id}"
@using ContosoCrafts.WebSite.Services
@inject JsonFileProductService ProductService
@model ContosoCrafts.WebSite.Pages.Product.DeleteModel

@{
    ViewData["Title"] = "Delete Page";
}

<h1>Delete Product</h1> <!-- Heading -->

<div class="whitebox">
    <!-- HTML Form -->
    <form method="post">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <!-- Hidden input for Product ID -->
        @Html.HiddenFor(x=>x.Product.Id)

        <!-- Heading -->
        <h1>Confirm to Delete item</h1>

        <!-- Delete Product Title -->
        <div class="form-group">
            <label asp-for="Product.Title" class="control-label"></label>
            <input asp-for="Product.Title" class="form-control" readonly />
            <span asp-validation-for="Product.Title" class="text-danger"></span>
        </div>

        <!-- Delete Product Description -->
        <div class="form-group">
            <label asp-for="Product.Description" class="control-label"></label>
            <input asp-for="Product.Description" class="form-control" readonly />
            <span asp-validation-for="Product.Description" class="text-danger"></span>
        </div>

        <!-- Delete Product URL -->
        <div class="form-group">
            <label asp-for="Product.Url" class="control-label"></label>
            <input asp-for="Product.Url" class="form-control" readonly />
            <span asp-validation-for="Product.Url" class="text-danger"></span>
        </div>

        <!-- Delete Product Image -->
        <div class="form-group">
            <label asp-for="Product.Image" class="control-label"></label>
            <input asp-for="Product.Image" class="form-control" readonly />
            <span asp-validation-for="Product.Image" class="text-danger"></span>
        </div>

        <!-- Delete Product Price -->
        <div class="form-group">
            <label asp-for="Product.Price" class="control-label"></label>
            <input asp-for="Product.Price" class="form-control" readonly />
            <span asp-validation-for="Product.Price" class="text-danger"></span>
        </div>

        <!-- Delete Product Stock -->
        <div class="form-group">
            <label asp-for="Product.Stock" class="control-label"></label>
            <input asp-for="Product.Stock" class="form-control" readonly />
            <span asp-validation-for="Product.Stock" class="text-danger"></span>
        </div>

        <!-- Delete Updated Information -->
        <div class="form-group">
            <input style="margin-left:15px" type="submit" value="Delete" class="btn btn-success" /> <!-- Delete Button -->
        </div>


        <!-- Back to Products -->
        <div>
            <a asp-page="Index" class="link-button2">Cancel</a> <!-- Back to Product List button -->
        </div>
        &nbsp;

    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    } <!-- Script Validation -->
}