@page "{id}"
@using ContosoCrafts.WebSite.Services
@inject JsonFileProductService ProductService
@model ContosoCrafts.WebSite.Pages.Product.DeleteModel

@{
    ViewData["Title"] = "Delete Page";
}

<h1>Delete Product</h1>

<div class="container">

    <form method="post" class="whitebox">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.HiddenFor(x=>x.Product.Id)

        <h1>Confirm to Delete item</h1>

        <!--Save Updated Information-->
        <div class="form-group">
            <input type="submit" value="Delete" class="btn btn-primary"/>
        </div>

        <!--Back to Products-->
        <div class="form-group">
            <a asp-page="/Product/Index" style="color:blue">Cancel</a>
        </div>
    </form>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
    


