@page
@model ContosoCrafts.WebSite.Pages.Product.IndexModel
@{
    ViewData["Title"] = "Index page";
}

<style>
    .table-bordered {
        border: 2px solid black; /* Adjust the border width as needed */
    }

    th, td {
        color: black; /* Change the color of the text for the Title */
    }

    a {
        color: blue; /* Change the color of the link for "Read" */
    }
</style>

<div class="container" >
    <!--Created Create button-->
    <button class="btn" style="background-color: blue"><a size="40px" style="color: white">Create</a></button> 
    <table class="table table-bordered bg-white">
        <thead>
            <tr>
                <th >Title</th>
                <th >Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <td style="text-decoration-color: initial">@product.Title</td>
                    <td><a asp-page="Read" asp-route-id="@product.Id" size="20px">Read</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>