@page
@model ContosoCrafts.WebSite.Pages.Product.IndexModel
@{
    ViewData["Title"] = "Index page";
}
<!--Referencing styling done in site.css page-->
<link rel ="stylesheet" type="text/css" href ="site.css" />
<div class="container" >
    <!--Implemented a Create button-->
    <form method="post">
        <a asp-page="./Create" asp-route-id="@Model.Products" class="create-button">+ Create</a>
    </form>

    &nbsp;
    <table class="table table-bordered bg-white">
        <thead>
            <tr>
                <th >Title</th>
                <th >Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <td>@product.Title</td>
                    <td><a asp-page="Read" asp-route-id="@product.Id">Read</a>
                        <!--Created Delete button-->
                        <a asp-page="Delete" asp-route-id="@product.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>