@page
@model NewErrorPageModel
@{
    ViewData["Title"] = "Model Error";
}

<!-- Referencing styling done in site.css page -->
<link rel="stylesheet" type="text/css" href="site.css" />
<div class="container card bg-white text-center">
    <!--Page Title-->
    <h1 class="text-black-50">Model Error</h1>
    <!--Image for Error-->
    <img style="margin-left:435px" height="200" width="200" src="https://mystickermania.com/cdn/stickers/3/1741-512x512.png" />

    <!-- Error Message -->
    <h2 class="text-danger">The Product might have been deleted or missing.</h2>

    <!-- Display Request ID if available -->
    @if (Model.ShowRequestId)
    {
        <p>
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
        </p>
    }

    <!-- Back to Product List button -->
    <div>
        <a asp-page="Index" class="link-button2">Go back</a>
    </div>
</div>