@page "{id}"
@using ContosoCrafts.WebSite.Services
@inject JsonFileProductService ProductService
@model ContosoCrafts.WebSite.Pages.Product.ReadModel

@{
    ViewData["Title"] = "Read page";
}
<div class="whitebox">
    <h1>Read</h1>
    <div class="content">
    <h5 class="title" id="productTitle">@Model.Product.Title</h5>

    <!--class="card-img" -->

    <img src='@Model.Product.Image' width="300" height="400" alt='Image for @Model.Product.Title'>
    <p class="card-text">@Model.Product.Description</p>
        
        <!--Created and styled update button -->
        <button type="button" style="background-color: red; color: white; border-color: red;box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); padding: 10px 20px; font-size: 16px; border-radius:10px">Update</button> 

</div>

