@page
@model ContosoCrafts.WebSite.Models.ProductModel
@{
    ViewData["Title"] = "Update page";
}

<div class="container">
    <h2>Update Form</h2>
    <form method="post">
        <div class="form-group">
            <label for="Title">Title</label><br>
            <input asp-for="Title" class="form-control" placeholder="Enter Title" />
        </div>

        <div class="form-group">
            <label for="Image">Image Url</label><br>
            <input asp-for="Image" class="form-control" placeholder="Enter Image Url" />
        </div>

        <div class="form-group">
            <label for="Description">Description</label><br>
            <input asp-for="Description" class="form-control" placeholder="Enter Description" />
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>