@page "{id}"
@using SuperHeroes.WebSite.Services
@using SuperHeroes.WebSite.Models
@inject JsonFileProductService ProductService
@model SuperHeroes.WebSite.Pages.Product.UpdateModel

@{
    ViewData["Title"] = "Update Page";
}

<!-- Heading -->
<h1>Update Product</h1>

<div class="whiteboxcrudi">

    <form method="post" enctype="multipart/form-data">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <!-- Hidden input for Product ID -->
        @Html.HiddenFor(x => x.Product.Id)

        <!-- Update Product Title -->
        <div class="form-group">
            <label asp-for="Product.Title" class="control-label"></label>
            <input asp-for="Product.Title" class="form-control" />
            <span asp-validation-for="Product.Title" class="text-danger"></span>
        </div>

        <!-- Update Product Description -->
        <div class="form-group">
            <label asp-for="Product.Description" class="control-label"></label>
            <input asp-for="Product.Description" class="form-control" />
            <span asp-validation-for="Product.Description" class="text-danger"></span>
        </div>

        <!-- Update Product URL -->
        <div class="form-group">
            <label asp-for="Product.Url" class="control-label"></label>
            <input asp-for="Product.Url" class="form-control" />
            <span asp-validation-for="Product.Url" class="text-danger"></span>
        </div>

        <!-- Update Product Image -->
        <div class="form-group">
            <label asp-for="Product.Image" class="control-label"></label>
            <input asp-for="Product.Image" class="form-control" />
            <span asp-validation-for="Product.Image" class="text-danger"></span>
        </div>

        <!-- Update Product Price -->
        <div class="form-group">
            <label asp-for="Product.Price" class="control-label"></label>
            <input asp-for="Product.Price" class="form-control" />
            <span asp-validation-for="Product.Price" class="text-danger"></span>
        </div>

        <!-- Update Product Stock -->
        <div class="form-group">
            <label asp-for="Product.Stock" class="control-label"></label>
            <input asp-for="Product.Stock" class="form-control" />
            <span asp-validation-for="Product.Stock" class="text-danger"></span>
        </div>

        <!-- Select Category of Product-->
        <div class="form-group">
            <label asp-for="Product.ProductType" class="text-label"></label>
            <select class="form-control"
                    asp-for="Product.ProductType"
                    asp-items="Html.GetEnumSelectList<ProductTypeEnum>()">
                <option selected="selected" value="">Please Select</option>
            </select>
            <span asp-validation-for="Product.ProductType" class="text-danger"></span>
        </div>

        <div class="row">
            <!-- Save Updated Information -->
            <div class="form-group">
                <input style="margin-left:15px" type="submit" value="Save" class="btn btn-success" />
            </div>

            <!-- Spacing in between -->
            &nbsp; &nbsp;

            <!-- Back to Products -->
            <div class="form-group">
                <button asp-page="./Product/Index" class="btn btn-danger">Cancel</button>
            </div>
        </div>
    </form>
</div>

<!-- Script Validation -->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}