@page
@model AboutUsModel
@{
    ViewData["Title"] = "About Us";
}
<div class="box">
    <!--Added background box with white color-->
    <h1 class="text-white">@ViewData["Title"]</h1>
    <!--Changed text color-->
    <p class="text-white">We take great delight in offering the broadest range of superhero goods. 
     We provide t-shirts and other merchandise from even the most obscure heroes and villains—heroes and villains that Marvel and DC employees probably haven't heard of. </p>
</div>