@page
@model AboutUsModel
@{
    ViewData["Title"] = "About Us";
}

<div class="aboutus-box">
    <!--Div Component-->

    <!--Added background box with white color-->
    <h1 class="text-black">@ViewData["Title"]</h1>
    <h4>Superhero Lovers</span></h4>

    <!--Changed text color-->
    <p class="text-black">Welcome to our website. We take great delight in offering the broadest range of superhero goods.
        We provide t-shirts and other merchandise from even the most obscure heroes and villains—heroes and villains that Marvel and DC employees probably haven't heard of. Thank you for visiting our website. If you have any questions or feedback, please feel free to contact us.
    </p>
    <h3 class="title">Introducing Our Team</h3>

    <div class="team">
        <div class="member">
            <h3>Vikshit</h3>
            <p>Meet Vikshit, the Visionary Illustrator, turns ideas into a visual tapestry, inviting users into a world where colors tell stories.</p>
        </div>
        <div class="member">
            <h3>Chinmay</h3>
            <p>Meet Chinmay, our Digital Architect, shapes a digital sanctuary for superhero enthusiasts, seamlessly blending technology with imagination.</p>
        </div>
        <div class="member">
            <h3>Aryan</h3>
            <p>Meet Aryan, our Narrative Alchemist, weaves enchanting tales that bring superhero merchandise to life, turning every click into a journey into the fantastical.</p>
        </div>
        <div class="member">
            <h3>Krushikesh</h3>
            <p>Meet Krushikesh, our UX Maestro, designs an online space where users effortlessly explore and discover superhero merchandise.</p>
        </div>
</div>