@page
@using SuperHeroes.WebSite.Components
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- modify a space between header and body"  -->
<p style="line-height:5.5em;"> </p>
<!-- modify a space between header and body"  -->
<p style="line-height:5.5em;"> </p>

<div id="video-container">
    <video autoplay muted loop preload="auto" id="herovid">
        <source src="~/assets/vids.mp4" type="video/mp4" />
    </video>

 
    <div class="banner">
        <div class="overlay">
            <div class="container">
                <div class="intro-text">
                    <h1 class="homepage-title-content" id="fade-in">HEROES</h1>
                    <p class="homepage-tagline-content" id="fade-in">Find Your Favorite Superhero Merchandise!</p>
                    <a class="btn btn-primary btn-xl" role="button" id="explore-button">Explore</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="productlist" style="display: none;">
    @(await Html.RenderComponentAsync<ProductList>(RenderMode.ServerPrerendered))
</div>

<script>
    document.getElementById('explore-button').addEventListener('click', function () {
        document.getElementById('video-container').style.display = 'none';
        document.getElementById('productlist').style.display = 'block';
    });
</script>

<script src="_framework/blazor.server.js"></script>