@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="privacy-box">
    <h1>@ViewData["Title"]</h1>
    <!--Changed text color to white-->
    <p style="color:white; font-size: 25px">Use this page to detail your site's privacy policy.</p>
</div>