@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<!--Added red box behind the text to make it visible on background-->
<div class="privacy-box">
    
    <!--The title for privacy page-->
    <h1 class="color">@ViewData["Title"]</h1>
    
    <!--The text for privacy page-->
    <p class="textcolor">Welcome to our site, your one-stop destination for all things superhero! we value and prioritize the privacy of our customers.</p>

</div>